
<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
<object type="text/html" data="topmenu.html" style='width:100%;height:65px'></object>
<style>
	body
	{
		background-color: lightslategray;
	}
	/* background-color:green */
</style>




<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
<ul class="purple flex-container" style='height:90%'>
	<li class="blue">
		<div>
			<object type="text/html" data="author.html" style='height:320px'></object>
		</div>
		<div>
			<div class='purple' style='width:275px'>
				<h4>
					Frame Description
				</h4>
				<div class=blue>
					I HATE IT WHEN PEOPLE JUDGE ME SO I MADE THIS FRAME TO EXPRESS MY ANGST
				</div>
			</div>
			<div class=blue style="width: 275px">
				<div style='font-size: 30px'>❤</span> 245 Likes
			</div>
		</div>
	</li>










	<li class="white flexFiller ">


	<table style='width:100%;height:96%'>
		<tr>
			<td >
				
			</td>
			<td >
				<div style="display:flex">
					<div style="flex-grow:1"></div>
					<button class='centered white' style="border-radius:400px;width:60px;height:60px;font-size:16pt">▲</button>
					<div style="flex-grow:1"></div>
				</div>
			</td>
			<td >

			</td>
		</tr>
		<tr>
			<td >
					<button class='centered white' style="border-radius:400px;width:60px;height:60px;font-size:16pt">◀</button>
			</td>
			<td class="centered">
				<img src="../../static/images/frame.png" alt="" style="border-radius:0">
			</td>
			<td >
					<button class='centered white' style="border-radius:400px;width:60px;height:60px;font-size:16pt">▶</button>
			</td>
		</tr>
		<tr>
			<td >
				
			</td>
			<td >
				<div style="display:flex">
				<div style="flex-grow:1"></div>
				<button class='centered blue' style="border-radius:400px;width:60px;height:60px;font-size:16pt">+</button>
				<div style="flex-grow:1"></div>
				</div>
			</td>
			<td >
				
			</td>
		</tr>
	</table>

	</li>

















	<li class=purple style='overflow: scroll;height:96%'>
		<h3>
			Comments
		</h3>
		<input style='color:black;width=10px'>
		<br>
		<button>Post</button>
		<div class=blue style='overflow: scroll'>
			<div class=white>
				<img src="../../static/images/accountIcon.png" class='rightMenuBarItem'>
				<h4>xkcdfan345</h4>
				Whoaa I love this frame i can really relate! wowza
			</div>
			<div class=white>
				<img src="../../static/images/accountIcon.png" class='rightMenuBarItem'>
				<h4>xkcdfan345</h4>
				Whoaa I love this frame i can really relate! wowza
			</div>
			<div class=white>
				<img src="../../static/images/accountIcon.png" class='rightMenuBarItem'>
				<h4>xkcdfan345</h4>
				Whoaa I love this frame i can really relate! wowza
			</div>
			<div class=white>
				<img src="../../static/images/accountIcon.png" class='rightMenuBarItem'>
				<h4>xkcdfan345</h4>
				Whoaa I love this frame i can really relate! wowza
			</div>
			<div class=white>
				<img src="../../static/images/accountIcon.png" class='rightMenuBarItem'>
				<h4>xkcdfan345</h4>
				Whoaa I love this frame i can really relate! wowza
			</div>
			<div class=white>
				<img src="../../static/images/accountIcon.png" class='rightMenuBarItem'>
				<h4>xkcdfan345</h4>
				Whoaa I love this frame i can really relate! wowza
			</div>
			<div class=white>
				<img src="../../static/images/accountIcon.png" class='rightMenuBarItem'>
				<h4>xkcdfan345</h4>
				Whoaa I love this frame i can really relate! wowza
			</div>
			<div class=white>
				<img src="../../static/images/accountIcon.png" class='rightMenuBarItem'>
				<h4>moderator</h4>
				Stop spamming the chat!
			</div>
		</div>
	</li>
</ul>