<link rel="stylesheet" type="text/css" href="style.css">
<ul  style='display:flex;height:120px'>
	<button class='white centered' style="color:black">
		<
	</button>
	<li style='overflow: scroll'><table >
		<tr>
			<td style='text-align: center'>thumbnail2</td>
			<td style='text-align: center'>thumbnail3</td>
			<td style='text-align: center'>thumbnail4</td>
			<td style='text-align: center'>thumbnail5</td>
			<td style='text-align: center'>thumbnail7</td>
			<td style='text-align: center'>thumbnail8</td>
			<td style='text-align: center'>thumbnail9</td>
			<td style='text-align: center'>thumbnail1</td>
			<td style='text-align: center'>thumbnail2</td>
			<td style='text-align: center'>thumbnail3</td>
			<td style='text-align: center'>thumbnail4</td>
			<td style='text-align: center'>thumbnail5</td>
			<td style='text-align: center'>thumbnail7</td>
			<td style='text-align: center'>thumbnail8</td>
			<td style='text-align: center'>thumbnail9</td>
			<td style='text-align: center'>thumbnail1</td>
			<td style='text-align: center'>thumbnail2</td>
			<td style='text-align: center'>thumbnail3</td>
			<td style='text-align: center'>thumbnail4</td>
			<td style='text-align: center'>thumbnail5</td>
			<td style='text-align: center'>thumbnail7</td>
			<td style='text-align: center'>thumbnail8</td>
			<td style='text-align: center'>thumbnail9</td>
			<td style='text-align: center'>thumbnail2</td>
			<td style='text-align: center'>thumbnail3</td>
			<td style='text-align: center'>thumbnail4</td>
			<td style='text-align: center'>thumbnail5</td>
			<td style='text-align: center'>thumbnail7</td>
			<td style='text-align: center'>thumbnail8</td>
			<td style='text-align: center'>thumbnail9</td>
		</tr>
		<tr>
			<td><img src="thumbnail2.png" class=thumbnailImage></td>
			<td><img src="thumbnail3.png" class=thumbnailImage></td>
			<td><img src="thumbnail4.png" class=thumbnailImage></td>
			<td><img src="thumbnail5.png" class=thumbnailImage></td>
			<td><img src="thumbnail7.png" class=thumbnailImage></td>
			<td><img src="thumbnail8.png" class=thumbnailImage></td>
			<td><img src="thumbnail9.png" class=thumbnailImage></td>
			<td><img src="thumbnail1.png" class=thumbnailImage></td>
			<td><img src="thumbnail2.png" class=thumbnailImage></td>
			<td><img src="thumbnail3.png" class=thumbnailImage></td>
			<td><img src="thumbnail4.png" class=thumbnailImage></td>
			<td><img src="thumbnail5.png" class=thumbnailImage></td>
			<td><img src="thumbnail7.png" class=thumbnailImage></td>
			<td><img src="thumbnail8.png" class=thumbnailImage></td>
			<td><img src="thumbnail9.png" class=thumbnailImage></td>
			<td><img src="thumbnail1.png" class=thumbnailImage></td>
			<td><img src="thumbnail2.png" class=thumbnailImage></td>
			<td><img src="thumbnail3.png" class=thumbnailImage></td>
			<td><img src="thumbnail4.png" class=thumbnailImage></td>
			<td><img src="thumbnail5.png" class=thumbnailImage></td>
			<td><img src="thumbnail7.png" class=thumbnailImage></td>
			<td><img src="thumbnail8.png" class=thumbnailImage></td>
			<td><img src="thumbnail9.png" class=thumbnailImage></td>
			<td><img src="thumbnail2.png" class=thumbnailImage></td>
			<td><img src="thumbnail3.png" class=thumbnailImage></td>
			<td><img src="thumbnail4.png" class=thumbnailImage></td>
			<td><img src="thumbnail5.png" class=thumbnailImage></td>
			<td><img src="thumbnail7.png" class=thumbnailImage></td>
			<td><img src="thumbnail8.png" class=thumbnailImage></td>
			<td><img src="thumbnail9.png" class=thumbnailImage></td>
		</tr>
	</table></li>
	<button class='white centered' style="color:black">
		>
	</button>
</ul>